{% extends 'enlaces.html.twig' %}

{% block title %}OngSystem {% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}

<body class="hold-transition skin-blue layout-top-nav">
<div class="wrapper">

  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand"><b>Admin</b>LTE</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>


        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <img src="{{ asset('adminLTEstyle/dist/img/user2-160x160.jpg')}}" class="user-image" alt="User Image">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{ app.user.username }} </span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  <img src="{{ asset('adminLTEstyle/dist/img/user2-160x160.jpg')}}" class="img-circle" alt="User Image">

                  <p>
                    {{ app.user.username }}  - User
                    <small>Bienvenido {{ app.user.username }}</small>
                  </p>
                </li>
                <!-- Menu Body -->
					<!--li class="user-body">
					  <div class="row">
						<div class="col-xs-4 text-center">
						  <a href="#">Followers</a>
						</div>
						<div class="col-xs-4 text-center">
						  <a href="#">Sales</a>
						</div>
						<div class="col-xs-4 text-center">
						  <a href="#">Friends</a>
						</div>
					  </div>
					</li-->
                <!-- Menu Footer-->
                <li class="user-footer">
                  <!--div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div-->
                  <div class="pull-right">
                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
	

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Mis Proyectos
          <small>Activos</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <!--li><a href="#">Layout</a></li>
          <li class="active">Top Navigation</li-->
        </ol>
      </section>




      <!-- Main content -->
      <section class="content">








				  {% for organizacion in oscs %}
						{% if organizacion.user ==   app.user.username   %}
							{% for proyecto in proyectos %}	
								{% if proyecto.osc ==  organizacion   %}
									  <div class="col-lg-3 col-xs-6">
										  <!-- small box -->
										  <div class="small-box bg-aqua">
											<div class="inner">
											  <h2>
											  {{ proyecto.nombre }}
											  </h2>

											  <p>{{ proyecto.tematica }}</p>
											</div>
											<div class="icon">
											  <i class="ion ion-bag"></i>
											</div>
											<a href="{{ path('usuario_proyecto_show', {'id': proyecto.id}) }}" class="small-box-footer">Más info <i class="fa fa-arrow-circle-right"></i></a>
										  </div>
									  </div>
								{% endif %}
							{% endfor %}
						{% endif %}
                  {% endfor %}	


				  
		<!-- Main content -->
		</section>


    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.0
      </div>
      <strong>Copyright &copy; 2019-2020 <a href="https://www.virtualweb.com.ec/">VirtualWeb</a>.</strong> Todos los derechos reservados.
    
    </div>
    <!-- /.container -->
  </footer>







</div>
<!-- ./wrapper -->
</body>





















    {% if is_granted('ROLE_ADMIN') %}
        <a href=" #"> Manage users </a>
			
    {% endif%}

    {% else %}

    



		<style>
			.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
			.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
		</style>


		<body class="hold-transition login-page">
		<div class="login-box">
		  <div class="login-logo">
			<a href="#"><b>ONG</b>system</a>
		  </div>
		  <!-- /.login-logo -->
		  <div class="login-box-body">
			<p class="login-box-msg">Ingresa tus datos para iniciar sesión</p>

			{% if error %}
		<!--        <span class="help-block">{{ error.messageKey|trans(error.messageData, 'security') }}</span>-->
			  <div class="callout callout-warning">
						<h4>Usuario o contraseña invalidos</h4>

						<p>Porfavor revisa tu usuario o contraseña ingresados y vuelve a intentarlo.</p>
			  </div>
			{% endif %}

      
		   <form action="{{ path('login') }}" method="post">
			  <div class="form-group has-feedback">
				<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario"/>
				<span class="glyphicon glyphicon-user form-control-feedback"></span>
			  </div>
			  <div class="form-group has-feedback">
				<input type="password" class="form-control" id="password" name="_password" placeholder="Contraseña"/>
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			  </div>         
			  <div class="row">
				<div class="col-xs-8">
				  <div class="checkbox icheck">
					<label>
					  <input type="checkbox"> Recordar contraseña
					</label>
				  </div>
				</div> 
			{#
				If you want to control the URL the user
				is redirected to on success (more details below)
				<input type="hidden" name="_target_path" value="/user" />
			#}          
				<!-- /.col -->
				<div class="col-xs-4">
				  <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
				</div>
				<!-- /.col -->
			  </div>
			</form>

		<!-- redes sociales para dsps
			<div class="social-auth-links text-center">
			  <p>- OR -</p>
			  <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
				Facebook</a>
			  <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
				Google+</a>
			</div>
		-->
			<!-- /.social-auth-links -->

		  </div>
		  <!-- /.login-box-body -->
		</div>
		<!-- /.login-box -->


		</body>


	{% endif %}
{% endblock %}













