<!DOCTYPE html>

<title>CargosProyecto</title>

{% block body %}
    <h1>CargosProyecto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cargos_proyecto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cargos_proyecto.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cargos_proyecto.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ cargos_proyecto.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cargos_proyecto_index') }}">back to list</a>

    <a href="{{ path('cargos_proyecto_edit', {'id': cargos_proyecto.id}) }}">edit</a>

    {{ include('cargos_proyecto/_delete_form.html.twig') }}
{% endblock %}
