{{ form_start(form) }}
<div class="box-body">
    {{ form_widget(form) }}
</div> 
    <div class="box-footer">

        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        
        <a class="btn btn-primary" href="{{ path('osc_index') }}">Back</a>
        
    </div>
{{ form_end(form) }}
