<!DOCTYPE html>

<title>Resultados</title>

{% block body %}
    <h1>Resultados</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resultado.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ resultado.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ resultado.descripcion }}</td>
            </tr>
            <tr>
                <th>Presupuesto</th>
                <td>{{ resultado.presupuesto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('resultados_index') }}">back to list</a>

    <a href="{{ path('resultados_edit', {'id': resultado.id}) }}">edit</a>

    {{ include('resultados/_delete_form.html.twig') }}
{% endblock %}
