<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}OngSystem{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
          <!-- Bootstrap 3.3.7 -->
          <link rel="stylesheet" href="{{ asset('adminLTEstyle/bootstrap/dist/css/bootstrap.min.css') }}">
          <!-- Font Awesome -->
          <link rel="stylesheet" href="{{ asset('adminLTEstyle/font-awesome/css/font-awesome.min.css') }}">
          <!-- Ionicons -->
          <link rel="stylesheet" href="{{ asset('adminLTEstyle/Ionicons/css/ionicons.min.css') }}">
          <!-- Theme style -->
          <link rel="stylesheet" href="{{ asset('adminLTEstyle/dist/css/AdminLTE.min.css') }}">
          <!-- AdminLTE Skins. Choose a skin from the css/skins
               folder instead of downloading all of them to reduce the load. -->
          <link rel="stylesheet" href="{{ asset('adminLTEstyle/dist/css/skins/_all-skins.min.css') }}">
          <!-- Morris chart -->
          <link rel="stylesheet" href="{{ asset('adminLTEstyle/morris.js/morris.css') }}">
          <!-- Date Picker -->
<!--          <link rel="stylesheet" href="{{ asset('adminLTEstyle/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">-->
          <!-- Daterange picker -->
<!--          <link rel="stylesheet" href="{{ asset('adminLTEstyle/bootstrap-daterangepicker/daterangepicker.css') }}">-->
          <!-- bootstrap wysihtml5 - text editor -->
          <link rel="stylesheet" href="{{ asset('adminLTEstyle/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">         <!-- iCheck -->  
          <link rel="stylesheet" href="{{ asset('adminLTEstyle/iCheck/square/blue.css') }}">
        
        
<!--            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
             
            <!-- Google Font -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        {% endblock %}
    </head>
    
    <body>
        
        {% block body %}{% endblock %}
        
        
        {% block javascripts %}
        
            <!-- jQuery 3 -->
            <script src="{{ asset('adminLTEstyle/jquery/dist/jquery.min.js') }}"></script>
            <!-- jQuery UI 1.11.4 -->
            <script src="{{ asset('adminLTEstyle/jquery-ui/jquery-ui.min.js') }}"></script>
            <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
            <script>
              $.widget.bridge('uibutton', $.ui.button);
            </script>
            <!-- Bootstrap 3.3.7 -->
            <script src="{{ asset('adminLTEstyle/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <!-- Morris.js charts -->
            <script src="{{ asset('adminLTEstyle/raphael/raphael.min.js') }}"></script>
            <script src="{{ asset('adminLTEstyle/morris.js/morris.min.js') }}"></script>
            <!-- Sparkline -->
            <script src="{{ asset('adminLTEstyle/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
        
        
            <!-- jQuery Knob Chart -->
<!--            <script src="{{ asset('adminLTEstyle/jquery-knob/dist/jquery.knob.min.js') }}"></script>-->
            <!-- daterangepicker -->
<!--
            <script src="{{ asset('adminLTEstyle/moment/min/moment.min.js') }}"></script>
            <script src="{{ asset('adminLTEstyle/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
-->
            <!-- datepicker -->
<!--            <script src="{{ asset('adminLTEstyle/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>-->
            <!-- Bootstrap WYSIHTML5 -->
<!--            <script src="{{ asset('adminLTEstyle/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>-->
        
        
        
            <!-- Slimscroll -->
            <script src="{{ asset('adminLTEstyle/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
            <!-- FastClick -->
            <script src="{{ asset('adminLTEstyle/fastclick/lib/fastclick.js') }}"></script>
           <!-- AdminLTE App -->
            <script src="{{ asset('adminLTEstyle/dist/js/adminlte.min.js') }}"></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <script src="{{ asset('adminLTEstyle/dist/js/pages/dashboard.js') }}"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="{{ asset('adminLTEstyle/dist/js/demo.js') }}"></script>  
            <!-- iCheck -->
            <script src="{{ asset('adminLTEstyle/iCheck/icheck.min.js') }}"></script>    
            <script>
              $(function () {
                $('input').iCheck({
                  checkboxClass: 'icheckbox_square-blue',
                  radioClass: 'iradio_square-blue',
                  increaseArea: '20%' /* optional */
                });
              });
            </script>
        
        
        {% endblock %}  
    </body>
</html>