<!DOCTYPE html>

<title>Indicadores index</title>

{% block body %}
    <h1>Indicadores index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Detalle</th>
                <th>Meta</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for indicadore in indicadores %}
            <tr>
                <td>{{ indicadore.id }}</td>
                <td>{{ indicadore.detalle }}</td>
                <td>{{ indicadore.meta }}</td>
                <td>
                    <a href="{{ path('indicadores_show', {'id': indicadore.id}) }}">show</a>
                    <a href="{{ path('indicadores_edit', {'id': indicadore.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('indicadores_new') }}">Create new</a>
{% endblock %}
